GROQ_API_KEY=sua_key_aqui
LLM_MODEL=llama3-70b-8192

USE_RATE_LIMIT=true
RATE_LIMIT_BATCH_SIZE=30
RATE_LIMIT_SLEEP_TIME=60

EXTRATOS_DIR=extratos
OUTPUT_FILE=finances.csv

TEMPLATE_FILE=templates/default_template.txt
CATEGORIES_FILE=templates/categories.txt